<%-
  base_url = "/rnode/#{host}/#{port}/"
-%>

<!-- login and set a token cookie so the link below works -->
<script type="text/javascript">
  (function () {

    let url = "<%= base_url %>".replaceAll('/', '_')
    let today = new Date().toISOString().split('T')[0].replaceAll('-', '_');
    let key = `stable_diff_${url}_${today}`;
    let alreadyDone = localStorage.getItem(key);

    if(alreadyDone == undefined || alreadyDone === "false") {
      let formData = new FormData();
      formData.append('username', '<%= CurrentUser.name %>');
      formData.append('password', '<%= password %>');

      fetch("/rnode/<%= host %>/<%= port %>/login", {
        method: 'POST',
        body: formData
      }).then((response) => {
        if(response.ok) {
          localStorage.setItem(key, true);
        }
      }).catch((err) => {});
    }
  })();
</script>

<a class="btn btn-primary" href="<%= base_url %>" target="_blank">
  <i class="fa fa-registered"></i> Connect to Stable Diffusion
</a>
